.cpbox{
  margin: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px;
  height: 350px;
}

.plotbutton{
  border: 0;
}

.tab-content{
  padding: 20px;
}

#controls_tab_box{
  margin: 10px;
}
