.cpbox{
  margin: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px;
}

.plotbutton{
  border: 0;
  background-color: transparent;
}

.tab-content{
  padding: 20px;
}

span[data-toggle = "tooltip"]{
  color: #1982C6;
  font-size: 0.9em;
}

#controls_tab_box{
  margin: 10px;
}

.shiny-input-container[data-shiny-input-type = "colour"]{
  margin-bottom: 2px !important;
}
