.cpbox{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.plotbutton{
  border: 0;
  background-color: transparent;
}

.tab-content{
  padding: 20px;
}

#controls_tab_box{
  margin: 10px;
}

.shiny-input-container[data-shiny-input-type = "colour"]{
  margin-bottom: 2px !important;
}
